/* Styles du conteneur principal */
.main-container {
    max-width: 600px;
    margin: 60px auto;
    padding: 0 20px;
    margin-bottom: 100px; /* Espace pour la navbar */
}

h1 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 40px;
    text-align: center;
}

/* Style de chaque élément de la FAQ */
.faq-item {
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: var(--white);
    border: 2px solid var(--sapin);
}

/* Style du bouton (Question) */
.faq-question {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: none;
    border: none; 
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: var(--black);
    transition: all 0.3s ease;
    font-family: 'Verdana-Classique', Verdana, sans-serif;
}

.faq-question:hover {
    background-color: var(--light-gray-bg);
}

.question-text {
    flex-grow: 1;
    line-height: 1.4;
}

/* Style pour l'icône de flèche (utilisez une police ou une image SVG) */
.icon-arrow::before {
    content: '▼'; /* Flèche pointant vers le bas */
    display: block;
    font-size: 0.8em;
    margin-left: 15px;
    transition: transform 0.3s;
    color: var(--sapin);
}

/* État 'actif' : La question est ouverte */
.faq-question.active {
    border-radius: 10px 10px 0 0;
    color: var(--sapin);
}

/* Rotation de la flèche lorsque la question est active */
.faq-question.active .icon-arrow::before {
    transform: rotate(180deg);
}

/* Style de la réponse (cachée par défaut) */
.faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    background: var(--white);
    border: 0px solid var(--sapin);
    border-width: 0px;
    border-top: none;
    border-radius: 0 0 10px 10px;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

/* Styles du contenu de la réponse */
.faq-answer.open {
    max-height: 500px;
    padding: 15px 20px 20px 20px;
}

.faq-answer p {
    margin-top: 0;
    font-size: 0.95em;
    color: var(--black);
}

.faq-answer ul {
    margin-bottom: 0;
    padding-left: 20px;
    font-size: 0.95em;
    color: var(--black);
}

.faq-answer li {
    margin-bottom: 5px;
}