/* --- Styles généraux pour le contenu --- */
.page-content {
    padding: 20px; 
    max-width: 600px; 
    margin: 0 auto; 
}

.page-title {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000; 
}

/* --- Styles de la Carte de Procédure --- */
.procedure-card {
    display: flex; 
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
    border-color: #ccc;
}

/* Style de la première carte (bordure verte) */
.procedure-card.card-green {
    border: 3px solid #66b032; 
}




/* --- Conteneur de l'image --- */
.card-image-container {
    flex-shrink: 0; 
    width: 100px; 
    height: 100px; 
    overflow: hidden;
    margin: 15px;
    border-radius: 10px 0 0 10px; 
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* --- Détails (Titre, Description, Infos) --- */
.card-details {
    padding: 10px;
    flex-grow: 1; 
}

.card-title {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    color: #333;
}

.card-description {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

/* --- Ligne d'informations (Date, Lieu, User) --- */
.card-info-row {
    font-size: 0.8em;
    display: flex;
    flex-direction: column; 
    gap: 3px;
}

.info-item {
    display: flex;
    align-items: center;
    color: #666;
}

.info-item i {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: center;
}

.icon-calendar {
    background-image: url('../img/calendrier.svg'); 
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    filter: invert(1);
}

.icon-location {
    background-image: url('../img/Localisation.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.icon-user {
    background-image: url('../img/profil.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
}