.lexique-container {
  max-width: 700px;
  margin: 60px auto;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 100px;
}

h1 {
  font-weight: 800;
  margin-bottom: 40px;
}

.lexique-search-box {
  position: relative;
  margin-bottom: 40px;
}

.lexique-search-box input {
  width: 100%;
  padding: 18px 55px 18px 25px;
  font-size: 18px;
  border: 3px solid var(--sapin);
  border-radius: 10px;
  outline: none;
}

.lexique-search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.lexique-icon-search {
  width: 24px;
  height: 24px;
  fill: var(--sapin);
  display: block;
}

.lexique-card {
  border: 3px solid var(--sapin);
  border-radius: 20px;
  padding: 30px;
  text-align: left;
  margin-bottom: 8%;
}

.lexique-card h2 {
  margin: 0 0 10px 0;
  font-size: 48px;
  color: var(--sapin);
  font-weight: 800;
}

.lexique-card p {
  margin: 0;
  font-size: 22px;
  color: var(--gray);
}